{% extends 'base.html' %}
{% block content %}

 <div class="about">
    <div class="img">
        <img src="../static/img/about.png" alt="">
    </div>
    <div class="text1">
        Bidding Nepal is a web-based system prepared for the user which is non-governmental
        web-system. The purpose of this system is to allow the user to list the product in its appropriate rate
        and let the other users to further increase the rate or pay the same rate as the owner and own the
        product. Since the users cannot sell their product in the best price, Bidding-Nepal helps to get the
        best price or the price higher than they expected.
    </div>
</div>
    
{% endblock %}